@tailwind base;
@tailwind components;
@tailwind utilities;

#app{
    height: 100vh;
}

.EmojiPickerReact.epr-dark-theme{
    background: rgb(30 41 59);
}
.conversation-item .avatar-online:before{
    width: 7px;
    height: 7px;
    top: 1%;
    right: 1%;
}

.conversation-item .avatar-offline:before{
    width: 9px !important;
    height: 9px !important;
    top: 1%;
    right: 1%;
}

.btn-info{
    background:  oklch(74% 0.16 232.661);
}

